/* Seletor de descendentes */
div p {
    color: orange;
}

/* Seletor de filhos */
span > h1 {
    color: purple;
}

/* Seletores de irmãos adjacentes (sibling selectors) */
div + p {
    text-shadow: -5px -5px 5px red;
}

/* Seletores gerais de irmãos */
div ~ p {
    text-shadow: 15px -5px 5px red;
    font-size: 32px;
    color: green;
}
