/* Seletor por tag */
p {
    text-shadow: -5px -5px 5px red;
}

/* Seletor por classe */
.teste-1 {
    color: green;
}

/* Seletores por atributo */
img[alt="logo"] {
    height: 128px;
}

/* Seletor por ID */
#teste {
    color: red;
}
