/* Seletor de tipo */
p {
    text-shadow: -5px -5px 5px red;
}

/* Seletor de classe */
.teste-1 {
    color: green;
}

/* Seletor de pseudo-classe */
.teste-1:hover {
    color: purple;
}

/* Seletor de atributo */
img[alt="logo"]:hover {
    height: 128px;
}

/* Seletor de identificador */
#teste {
    color: red;
}
